@charset "utf-8";
//flex布局
@mixin flex($direction,$justify:center,$alignItems:center){
    display:flex;
    display:-webkit-flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $alignItems;
}
//字体样式
@mixin font($size:14px,$weight:500,$family:"微软雅黑",$height:1.4,$color:#000){
    font-size:$size;
    font-weight:$weight;
    font-family:$family;
    line-height:$height;
    color:$color;
}
//多行文本溢出
@mixin overflow($num:1){
   display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden; 
}
//元素水平居中
@mixin centerRow{
    margin:0 auto;
}
@mixin img100{
    display:block;
    width: 100%;
    height:100%;
}
//主题黄色
$fontColor:#f8e5a1;
html,body{
    width:100%;
    height:100%;
    background:#f9b82e;
    overflow:auto;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#main{
    width:100%;
    //height:100%;
    background:url(../img/huashuo/qbg.jpg) no-repeat top center;
    background-size:100% auto;
    box-sizing: border-box;    
    //overflow: auto;
    .container{
        width:100%;
        height:4.62rem;
        background:url(../img/huashuo/red.png) no-repeat center center;
        background-size:100% 100%;
        box-sizing:border-box;
        overflow:hidden;
        .dlApp{
            height:0.6rem;
            
        }
        .lunbo{
            width:2.9rem;
            height:2.05rem;
            margin:0.1rem auto 0;   
            padding:0.045rem 0.05rem;  
            background:url(../img/huashuo/lunboBg.png) no-repeat center center;
            background-size:100% 100%;       
            box-sizing:border-box;
            .swiper-container{
                width:100%;
                height:100%;
                overflow: hidden;
                .swiper-wrapper{
                    width:100%;
                    height:100%;
                    .swiper-slide{
                        img{
                            display:block;
                            width:100%;                            
                        }
                    }
                }
            }
            
        }
    }   
}
/*微信遮罩*/
.mask{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    padding:0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,.7);
    box-sizing: border-box;
}
.mask img{
    display:block;
    float:right;
    width:1.5rem        
}


